<%-include("../components/head.ejs")%>

  <body>

    <%-include("../components/nav.ejs")%>
      <h1>Ingresar <%= title %>
      </h1>

      <form action method="post">

        <label id="titulo">Título
          <input type="text" name="titulo" required>
        </label><br>

        <label id="anio">Año
          <input type="number" name="anio" required>
        </label><br>

        <label id="duracion">Duración
          <input type="number" name="duracion" required>
        </label><br>

        <label id="clasificacion">Clasificación
          <input type="text" name="clasificacion" required>
        </label><br>

        <div>
          <label id="clasificacion">Categoría</label><br>

            <label>
              Acción
              <input type="checkbox" value="Acción" name="categoria">
            </label><br>

            <label>
              Aventura
              <input type="checkbox" value="Aventura" name="categoria">
            </label><br>

            <label>
              Ciencia Ficción
              <input type="checkbox" value="Ciencia Ficción" name="categoria">
            </label><br>

            <label>
              Comedia
              <input type="checkbox" value="Comedia" name="categoria">
            </label><br>
            
            <label>
              Drama
              <input type="checkbox" value="Drama" name="categoria">
            </label><br>

        </div>

        <input type="submit" name="Ingresar">

      </form>

  </body>

  <%-include("../components/footer.ejs")%>