<nav>
  <ul>
    <li><a href="/">Index</a></li>
    <li><a href="/peliculas/">Películas</a></li>
    <li><a href="/peliculas/ingresar">Ingresar películas</a></li>
    <li><a href="/productos/">Productos</a></li>
    <li><a href="/productos/ingresar">Ingresar productos</a></li>
    <li><a href="/funciones/recientes">Funciones recientes</a></li>
  </ul>
</nav>